* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: black;
	color: white;
}

header {
	padding: 50px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header > div > h1 {
	display: inline-block;
}
header > div > span {
	font-size: 30px;
	font-family: system-ui;
}

nav {
	width: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 30px;
	font-family: system-ui;
}
nav > button {
	border: 1px solid transparent;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 20px;
	font-weight: 800;
	background-color: blue;
}
section {
	margin-left: 70px;
	width: 90%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 30px;
	font-family: system-ui;
	gap: 26px;
}

.blur {
	filter: blur(10px);
}
.addNewList,
.addNewItem {
	display: none;
	background-color: white;
	width: 350px;
	height: 200px;
	margin: auto;
	position: fixed;
	top: 200px;
	left: 33%;
	color: chocolate;
	border: 1px solid chocolate;
	border-radius: 10px;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: xx-large;
}
.addNewList > div > input,
.addNewItem > div > input {
	width: 250px;
	height: 40px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid gray;
}
.addButton,
.addItemButton,
.closeButton,
.closeButton2 {
	display: inline-block;
	background-color: chocolate;
	color: white;
	border: 1px solid chocolate;
	border-radius: 20px;
	width: 80px;
	height: 30px;
	font-size: x-large;
	text-align: center;
}
.box {
	width: 250px;
	height: 360px;
	background-color: whitesmoke;
	color: black;
	border: 1px solid transparent;
	border-radius: 6px;
	position: relative;
	text-align: center;
}
.boxHead {
	height: 50px;
	/* text-align: left; */
	color: brown;
}
.boxDeleteButton {
	background-color: red;
	color: white;
	border-radius: 50%;
	border: 1px solid transparent;
	width: 40px;
	height: 40px;
	text-align: center;
	/* float: right; */
	position: absolute;
	bottom: 10px;
	right: 50px;
}
.boxAddButton {
	background-color: blue;
	color: white;
	border-radius: 50%;
	border: 1px solid transparent;
	width: 40px;
	height: 40px;
	text-align: center;
	/* float: right; */
	font-size: 25px;
	font-weight: 700;
	position: absolute;
	bottom: 10px;
	right: 5px;
}
.fixedPos {
	font-size: 29px;
	font-family: system-ui;
	left: 40%;
}
.noneNav {
	display: none;
	padding: 50px 100px;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
}
.noneNavH {
	display: inline-block;
	font-size: 30px;
	font-family: system-ui;
}
/* nav > div > span {
	border: 1px solid transparent;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 18px;
	font-weight: 1000;
	background-color: white;
	color: black;
	display: inline-block;
	text-align: center;
} */
.text {
	text-align: center;
	font-weight: bold;
	color: crimson;
}
.row {
	height: 30px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}
.rowButton {
	border-radius: 10px;
	background-color: cadetblue;
	color: black;
	text-align: center;
	font-family: system-ui;
	width: 60px;
}
.strikeThrough {
	text-decoration: line-through;
	text-align: center;
	color: red;
}

/* ################################################# */
@media screen and (min-width: 360px) and (max-width: 400px) {
	header {
		flex-direction: column;
		gap: 20px;
	}
	section {
		flex-direction: column;
		margin: 0px;
		width: 100%;
		align-content: center;
	}
	.addNewList,
	.addNewItem {
		left: 10%;
		top: 150px;
		width: 80%;
	}
}
@media screen and (min-width: 400px) and (max-width: 440px) {
	header {
		flex-direction: column;
		gap: 20px;
	}
	section {
		flex-direction: column;
		margin: 0px;
		width: 100%;
		align-content: center;
	}
	.addNewList,
	.addNewItem {
		left: 34px;
		top: 150px;
	}
}
@media screen and (min-width: 440px) and (max-width: 530px) {
	header {
		flex-direction: column;
		gap: 20px;
	}
	section {
		flex-direction: column;
		margin: 0px;
		width: 100%;
		align-content: center;
	}
	.addNewList,
	.addNewItem {
		left: 20%;
		top: 150px;
	}
}

@media screen and (min-width: 530px) and (max-width: 600px) {
	header {
		flex-direction: column;
		gap: 20px;
	}
	section {
		flex-direction: column;
		margin: 0px;
		width: 100%;
		align-content: center;
	}
	.addNewList,
	.addNewItem {
		left: 0;
		margin-left: 115px;
		top: 150px;
	}
}
@media screen and (min-width: 600px) and (max-width: 900px) {
	section {
		margin: 0px;
		width: 100%;
	}
	.addNewList,
	.addNewItem {
		left: 25%;
		top: 150px;
	}
}
